:root {
  --cl-black: #151515;
  --cl-m-green: #4ee1a0;
  --cl-s-red: #ff6f5b;
  --cl-dark-grey: rgb(36, 36, 36);
  --cl-light-grey: rgb(217, 217, 217);
  --cl-white: #fff;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: "Space Grotesk", sans-serif;
}

img,
svg,
picture {
  max-width: 100%;
  display: block;
}

body {
  box-sizing: border-box;
  background-color: var(--cl-black);
}

.grid_system {
  margin-inline: 10%;
  position: relative;
}

/* ////////////////////////////////////////////// */
/* TYPOGRAPHY */

.header-1 {
  font-family: inherit;
  font-size: 8.8rem;
  line-height: 8.8rem;
  letter-spacing: -0.25rem;
  font-weight: 700;
  color: var(--cl-white);
}
.header-2 {
  font-family: inherit;
  font-size: 4.8rem;
  line-height: 5.6rem;
  letter-spacing: -0.15rem;
  font-weight: 700;
  color: var(--cl-white);
}
.header-3 {
  font-family: inherit;
  font-size: 2.4rem;
  line-height: 3.2rem;
  font-weight: 700;
  color: var(--cl-white);
}

.text {
  font-family: inherit;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
  color: var(--cl-light-grey);
}

.underline {
  text-decoration-line: underline;
  text-decoration-color: var(--cl-m-green);
  text-underline-offset: 1.5rem;
}

.u-uppercase {
  text-transform: uppercase;
}

/* ////////////////////////////////////////////// */
/* ICONS & others*/

.socials {
  display: flex;
  gap: 1rem;
}

.social-icon {
  height: 3rem;
  width: 3rem;
  fill: var(--cl-white);
  margin-right: 2rem;
  cursor: pointer;
}

.social-icon:hover{
    fill: #4ee1a0;
}

hr {
  border: 1px solid rgb(217, 217, 217);
}

/* ////////////////////////////////////////////// */
/* HEADER */

.header,
.footer__socials {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
  position: relative;
}

.profil_img {
  position: absolute;
  z-index: -20;
  top: 15rem;
  right: 0rem;
  max-height: 90vh;
  max-width: 60%;
  clip-path: polygon(14% 0, 75% 0, 100% 100%, 36% 100%);
}

.pattern {
  position: absolute;
  z-index: -0;
  top: 65.6rem;
  right: -1rem;
  width: 13rem;
  height: 13rem;

}

/* ////////////////////////////////////////////// */
/* Presentation */

.presentation {
  height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 7rem;
}

.pesentation-text {
  width: 30vw;
}

/* ////////////////////////////////////////////// */
/* Skills */

.skills {
  margin-top: 5rem;
  margin-bottom: 10rem;
}
.skills-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 5rem;
}

.skills .header-2 {
  margin-bottom: 1rem;
}

/* ////////////////////////////////////////////// */
/* Portfolio */

.portfolio {
  margin-bottom: 10rem;
}

.portfolio_head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.portfolio-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
.project > *:not(:last-child) {
  margin-bottom: 2rem;
}

/* ////////////////////////////////////////////// */
/* Footer */
.footer {
  background-color: var(--cl-dark-grey);
  padding-inline: 10%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__contact {
  padding-top: 8rem;
  display: flex;
  justify-content: space-between;
}
.footer-text {
  width: 80%;
}

.footer__contact-msg,
.footer__contact-form {
  width: 50%;
}

.form {
  display: flex;
  justify-content: center;
  align-items: end;
  flex-direction: column;
  position: relative;
}

.input-font {
  font-family: "Space Grotesk", sans-serif;
  text-transform: uppercase;
  font-size: 1.8rem;
  line-height: 2.8rem;
  font-weight: 500;
}

.form-input,
.form-input:focus,
.form-input:focus-visible,
.form-input:target {
  border: none;
  border-style: none;
  outline: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  background-color: var(--cl-dark-grey);
  color: var(--cl-light-grey);

  border-bottom: solid 1px var(--cl-light-grey);
  width: 80%;
  min-height: 4rem;
  padding-bottom: 1rem;
  margin-bottom: 3rem;
}

.form-input:invalid {
  border-bottom: solid 1px var(--cl-s-red);
  background: url(assets/images/icon-triangle.svg)no-repeat 95% 0%;
  background-size: 3rem 3rem;
}
.form-input:focus:valid {
  border-bottom: solid 1px var(--cl-m-green);
}

.form-input::placeholder {
  color: var(--cl-light-grey);
  padding-left: 1rem;
}

.invalid_email {
  position: absolute;
  color: var(--cl-s-red);
  right: 0;
  top: 11rem;
  text-transform: capitalize;
  opacity: 0;
  transition: opacity .3s;
}
.form-input:invalid + .invalid_email {
  opacity: 1;
}


.footer__socials {
  margin-bottom: 2rem;
}

/* ////////////////////////////////////////////// */
/* INTERACTIVE ELEMENTS */

.btn-contact,
.btn-submit {
  text-transform: uppercase;
  flex-wrap: 1;
  cursor: pointer;
}

.btn-contact:hover,
.btn-submit:hover  {
  color: var(--cl-m-green);
}

.btn-submit {
    background-color: transparent;
    border: none;
    height: 5rem;
}
